body {
    font-family: monospace;
    font-size: 14px;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}

.container {
    margin: auto;
    max-width: 400px;
    padding: 10px;
}
